<div class="jumbotron" style="background-color: red">
    <div class="container">
        <h1 class="display-3">EXTERNAL</h1>
        <p>This represents is an external app accessing data from the portal environment. <br />
        <p>Click on 'Tasks from API' in the nav bar and you will be redirected to the IdentityServer to log in.</p>
        
        <p>After a successful login you have to authorize  this application via IdentityServer Consent and you will be redirected to this website and will see the tasks loaded from the Portal Task API. </p>
    </div>
</div>


